body{
    background-size: cover;
    background-image: linear-gradient(180deg,#010316 50%, #070735 120%);
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.container{
    padding: 2%;
    width: 90%;
    height: 92%;
    margin: auto;
    display: grid;
    row-gap: 6%;
    grid-template-columns: auto ;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "icone  icone   icone icone  icone"
    "banner banner banner banner .     "
}

.icon-voltar{
    grid-area: icone;
}

.icon-voltar > a > img{
    width: 4%;
}

.banner-cadastro{
    width: 100%;
    /* background-color: #FFFFFF; */
    height: 80vh;
    grid-area: banner;   
}

.banner-cadastro .conteiner{
    display: grid;
    height: 100%;
    grid-template-rows: auto 1fr 1fr;
    row-gap: 4%;
    width: 100%;
    margin-left: 8%;
}

.banner-cadastro .conteiner > h2{
    font-size: 2.5vw;
    color: #FFF;
}

.form{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "lbl-razao          lbl-razao          "
        "razao              razao              "
        "lbl-cnpj           lbl-cnpj           "
        "cnpj               cnpj               "
        "lbl-email          lbl-email          "
        "email              email              "
        "lbl-representante  lbl-representante  "
        "representante      representante      "
        "lbl-senha          lbl-confirmacao    "
        "senha              confirmacao        "
        "logar              .                  "
        "login              login              ";
    gap: 3%;
    color: #FFF;
    height: 100%;
}

.cadastro{
    width: 55%;
}

.form .lbl-razao{
    grid-area: lbl-razao;
}

.form .lbl-cnpj{
    grid-area: lbl-cnpj;
}

.form .lbl-email{
    grid-area: lbl-email;
}

.form .lbl-representante{
    grid-area: lbl-representante;
}

.form .lbl-senha{
    grid-area: lbl-senha;
}

.form .lbl-confirmacao{
    grid-area: lbl-confirmacao;
}

.form label{
    font-size: 2.3vh;
}

.form .input{
    background: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 0.2vh solid #fff;
    font-size: 1.5vw;
    color: #FFF;
}

.form .razao{
    grid-area: razao;
}

.form .cnpj{
    grid-area: cnpj;
}

.form .email{
    grid-area: email;
}

.form .representante{
    grid-area: representante;
}

.form .senha{
    grid-area: senha;
}

.form .confirmacao{
    grid-area: confirmacao;
}

.form .logar{
    grid-area: logar;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 0.5fr;
    margin-top: 10%;
}

.form .btn{
    background-color: #010316;
    color: #FFFFFF;
    border: 0.1vw solid #FFF;
    font-size: 1.9vh;
    cursor: pointer;
    /* padding: 5%; */
    width: 50%;
}
.logar .link{
    margin-top: 8%;
    color: #FFF;
    /* font-size: 1.8vh; */
    font-size: 1.1vw;
}

.form .login{
    grid-area: login;
}



.logo img{
    width: 70%;
    grid: logo;
}
@media only screen and (max-width: 700px) {
    
.container{
    padding: 2%;
    width: 90%;
    height: 92%;
    margin: auto;
    display: grid;
    row-gap: 6%;
    grid-template-columns: auto ;
    grid-template-rows: auto;
    grid-template-areas: 
    "icone  icone   icone"
    "banner banner .     "
}
.logo{
    width: 40vw;
}
a .link{
    width: 20vw;
    /* height: 10vh; */
    font-size: 20vw;
    /* background-color: red; */
}
}
@media only screen and (max-width: 500px) {
    .form{
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas:
            "lbl-razao          lbl-razao          "
            "razao              razao              "
            "lbl-cnpj           lbl-cnpj           "
            "cnpj               cnpj               "
            "lbl-email          lbl-email          "
            "email              email              "
            "lbl-representante  lbl-representante  "
            "representante      representante      "
            "lbl-senha          lbl-confirmacao    "
            "senha              confirmacao        "
            "logar              logar                 "
            "login              login              ";
        gap: 3%;
        color: #FFF;
        height: 100%;
    }
  .container{
    padding: 2%;
    width: 90%;
    height: 92%;
    margin: auto;
    display: grid;
    row-gap: 6%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "icone   logo  logo"
    "banner banner banner"
}

.icon-voltar > a > img{
    width: 3vw;
    height: 3vh;
    /* background-color: red; */
}
.logo > img{
    width: 25vw;
    margin-left: 6.5vw;
}
.banner-cadastro .conteiner {
    font-size: 2.5vw;
    color: #FFF;
    margin-left: 20vw;
}
.banner-cadastro .conteiner > h2{
    margin-left: 11vw;
}
.lbl-razao{
    text-align: center;
}
.lbl-cnpj{
    text-align: center;
}
.lbl-email{
    text-align: center;
}
.lbl-representante{
    
    text-align: center;
}
.lbl-senha{
    text-align: center;
}
.lbl-confirmacao{
    text-align: center;
}

.form{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "lbl-razao          lbl-razao          "
        "razao              razao              "
        "lbl-cnpj           lbl-cnpj           "
        "cnpj               cnpj               "
        "lbl-email          lbl-email          "
        "email              email              "
        "lbl-representante  lbl-representante  "
        "representante      representante      "
        "lbl-senha          lbl-confirmacao    "
        "senha              confirmacao        "
        "logar              logar                 "
        "login              login              ";
    gap: 3%;
    color: #FFF;
    height: 100%;
}
.logar{
    margin-left: 12vw;
}
.logar > a{
    margin-left: 6vw;
}
.logar > .btn{
    margin-left: 1vw;
    width: 20vw;
    height: auto;
    /* font-size: 10vw; */
}
a.link{
    width: auto;
    /* height: 10vh; */
    /* font-size: 20vw; */
  
}

}
@media only screen and (max-width: 400px) {
    .form{
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas:
            "lbl-razao          lbl-razao          "
            "razao              razao              "
            "lbl-cnpj           lbl-cnpj           "
            "cnpj               cnpj               "
            "lbl-email          lbl-email          "
            "email              email              "
            "lbl-representante  lbl-representante  "
            "representante      representante      "
            "lbl-senha          lbl-confirmacao    "
            "senha              confirmacao        "
            "logar              logar                 "
            "login              login              ";
        gap: 3%;
        color: #FFF;
        height: 100%;
        font-size: 5vw;
    }
  .container{
    padding: 2%;
    width: 90%;
    height: 92%;
    margin: auto;
    display: grid;
    row-gap: 6%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "icone   logo  logo"
    "banner banner banner"
}

.icon-voltar > a > img{
    width: 3vw;
    height: 3vh;
    /* background-color: red; */
}
.logo > img{
    width: 25vw;
    margin-left: 6.5vw;
}
.banner-cadastro .conteiner {
    font-size: 2.5vw;
    color: #FFF;
    margin-left: 20vw;
}
.banner-cadastro .conteiner > h2{
    margin-left: 11vw;
}
.lbl-razao{
    text-align: center;
}
.lbl-cnpj{
    text-align: center;
}
.lbl-email{
    text-align: center;
}
.lbl-representante{
    
    text-align: center;
}
.lbl-senha{
    text-align: center;
}
.lbl-confirmacao{
    text-align: center;
}

.form{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "lbl-razao          lbl-razao          "
        "razao              razao              "
        "lbl-cnpj           lbl-cnpj           "
        "cnpj               cnpj               "
        "lbl-email          lbl-email          "
        "email              email              "
        "lbl-representante  lbl-representante  "
        "representante      representante      "
        "lbl-senha          lbl-confirmacao    "
        "senha              confirmacao        "
        "logar              logar                 "
        "login              login              ";
    gap: 3%;
    color: #FFF;
    height: 100%;
}
.logar{
    margin-left: 12vw;
}
.logar > a{
    margin-left: 6vw;
}
.logar > .btn{
    margin-left: 1vw;
    width: 20vw;
    height: auto;
    /* font-size: 10vw; */
}
a.link{
    width: auto;
    /* height: 10vh; */
    /* font-size: 20vw; */
  
}

}