body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #1f1f1f;
  color: #f1f1f1;
  scroll-behavior: smooth;
}

.container{
  display: grid;
  height: 100vh;
  grid-template-columns: 0.8fr 0.15fr 1.2fr 1fr 1.5fr 0.15fr;
  grid-template-rows: 0.4fr 0.1fr 1fr 1.5fr 1fr 0.15fr;
  grid-template-areas: 
  "sidebar . titulo    filtro    filtro    ."
  "sidebar . .         .         .         ."
  "sidebar . historico historico historico ."
  "sidebar . historico historico historico ."
  "sidebar . historico historico historico ."
  "sidebar . .         .         .         .";
}





.sidebar {
  background-image: linear-gradient(150deg, #171717 50%, #11138a 120%);
  grid-area: sidebar;
  box-shadow: 0.9vw 0 5px #000;
}

.sidebar .cont-img {
  width: 100%;
  height: 35%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.cont-img .aba {
  display: none;
}

.sidebar .cont-img img {
  width: 70%;
  image-rendering: auto;
}

.sidebar .cont-text {
  display: grid;
  height: 65%;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    ". inicio     inicio    ."
    ". status     status    ."
    ". historico  historico ."
    ". gestao     gestao    ."
    ". .          .         ."
    ". sair       sair      .";
  font-weight: 700;
}

a {
  text-decoration: none;
}

.cont-text .inicio-nav {
  grid-area: inicio;
}

.inicio-nav .icon-home {
  float: left;
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inicio-nav .icon-home img {
  width: 70%;
  image-rendering: auto;
}

.inicio-nav .text-home {
  width: 70%;
  margin-left: 5%;
  height: 100%;
  float: right;
  display: flex;
  align-items: center;
}

.inicio-nav .text-home p {
  font-size: 1.1vw;
  color: #f1f1f1;
}

.cont-text .status-nav {
  grid-area: status;
}

.status-nav .icon-status {
  float: left;
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.status-nav .icon-status img {
  width: 70%;
  image-rendering: auto;
}

.status-nav .text-status {
  width: 70%;
  margin-left: 2%;
  height: 100%;
  float: right;
  display: flex;
  align-items: center;
  
}
.componentes{
  /* z-index: 3;  */
  width: 15vw;
  height: auto;
  background-image:linear-gradient(230deg, #171717 50%, #11138a 120%); 
  border-radius: 0.8vh;
  border: #000, solid;
  margin-left: 8vw;
  text-align: center;
  /* display: flex; */
  position: absolute;
  font-size: 1vw;
  /* margin-bottom: 20vh; */
  top: 40vh;
  display: none;
  margin-top: 3.5vh;
}
.componentes:hover{
display: block ;
}
.status-nav .text-status:hover + .componentes{
  display: block;
}
.componentes a{
  color: #f1f1f1  ;
  width: 100%;
}

.status-nav .text-status p {
  font-size: 1.1vw;
  color: #f1f1f1;
 
}
.componentes a:hover{
color: rgb(14, 16, 124);
}

.cont-text .historico-nav {
  grid-area: historico;
}

.historico-nav .icon-historico {
  float: left;
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.historico-nav .icon-historico img {
  width: 70%;
  image-rendering: auto;
}

.historico-nav .text-historico {
  width: 70%;
  margin-left: 5%;
  height: 100%;
  float: right;
  display: flex;
  align-items: center;
}

.historico-nav .text-historico p {
  font-size: 1.1vw;
  color: #f1f1f1;
}

.cont-text .gestao-nav {
  grid-area: gestao;
}

.gestao-nav .icon-gestao {
  float: left;
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gestao-nav .icon-gestao img {
  width: 70%;
  image-rendering: auto;
}

.gestao-nav .text-gestao {
  width: 70%;
  margin-left: 5%;
  height: 100%;
  float: right;
  display: flex;
  align-items: center;
}

.gestao-nav .text-gestao p {
  font-size: 1.1vw;
  color: #f1f1f1;
}

.cont-text .sair-nav {
  grid-area: sair
}

.sair-nav .icon-sair {
  float: left;
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sair-nav .icon-sair img {
  width: 70%;
  image-rendering: auto;
}

.sair-nav .text-sair {
  width: 70%;
  margin-left: 5%;
  height: 100%;
  float: right;
  display: flex;
  align-items: center;
}

.sair-nav .text-sair p {
  font-size: 1.1vw;
  color: #f1f1f1;
}




.navbar{
  display: none;
}

.titulo{
  grid-area: titulo;
}

.titulo h1{
  font-weight: lighter;
  font-size: 3vw;
  margin: 0;
}





.filtro{
  grid-area: filtro;
  display: flex;
  justify-content: center;
}

.filtro .select-filtro{
  width: 35%;
  height: 60%;
  border-radius: 0.3vw;
  background-image: linear-gradient(230deg,#171717 50%, #11138a 120%);
  color: #f1f1f1;
  border: 0.1vw solid #000;
  box-shadow: 0.5vw 0.5vw 5px #000;
  margin-top: 1%;
  font-size: 1.1vw;
  text-align: center;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}





.historico{
  /* background-color: #8a2be2; */
  grid-area: historico;
  overflow-y: scroll;
  padding: 2%;
}

.alerta{
  width: 27%;
  height: 31%;
  float: left;
  margin-left: 3.3%;
  margin-bottom: 3%;
}

.maquina-alerta{
  width: 100%;
  height: 18%;
}

.maquina-alerta p{
  font-size: 1.5vw;
  font-weight: bold;
  margin: 0;
}

.info-alerta{
  width: 100%;
  height: 82%;
  background-image: linear-gradient(150deg ,#171717 50%, #11138a 120%);
  border-radius: 0.5vw;
  box-shadow: 0.5vw 0.5vw 5px #000;
  font-weight: bold;
}

.local-alerta{
  width: 100%;
  height: 18%;
  text-align: center;
  font-size: 1.2vw;
}

.local-alerta p{
  margin: 0;
}

.info-alerta .numero-alerta{
  width: 50%;
  height: 82%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.numero-alerta .cor-alerta{
  border-radius: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 31%;
  position: relative;
  animation: spin 2s linear infinite;
}

@keyframes spin{
  then { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.cor-alerta .cont-numero{
  width: 85%;
  height: 85%;
  border-radius: 50%;
  background-color: #191919;;
  display: flex;
  position: absolute;
  bottom: 7.4%; left: 7.4%;
  align-items: center;
  justify-content: center;
  animation: stop 2s linear infinite reverse;
}

@keyframes stop{
  then { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.cont-numero p{
  font-size: 1.5vw;
}

.info-alerta .cont-informacao{
  width: 50%;
  height: 82%;
  float: left;
  display: flex;
  align-items: center;
}

.cont-informacao .alinhar-info{
  width: 100%;
}

.alinhar-info p{
  margin: 2%;
  margin-left: 5%;
  font-size: 1vw;
}





::-webkit-scrollbar {
  width: 0.5vw;
}

::-webkit-scrollbar-track {
  background: #1f1f1f; 
}
 
::-webkit-scrollbar-thumb {
  background: #f1f1f1; 
  border-radius: 1vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #f1f1f1; 
}

@media only screen and (max-width: 900px) {
  .info-alerta{
    height: 60%;
  }
  .inicio-nav .text-home p{
    font-size: 1.7vw;
  }
  .status-nav .text-status p{
    font-size: 1.7vw;
  }
  .historico-nav .text-historico p{
    font-size: 1.7vw;
  }
  .gestao-nav .text-gestao p{
    font-size: 1.7vw;
  }
  .sair-nav .text-sair p{
    font-size: 1.7vw;
  }
  .filtro .select-filtro{
    width: 40%;
  }
  .filtro .select-filtro{
    font-size: 1.5vw;
  }
}

@media only screen and (max-width: 700px) {
  .sidebar .cont-text {
    grid-template-columns: 0.2fr 1fr 1fr 0.3fr;
  }
  
  .info-alerta{
    height: 70%;
    font-size: 100%;
  }
  .info-alerta .numero-alerta{
    width: 100%;
    height: 20%;
  }
  .numero-alerta .cor-alerta{
    padding: 12%;
  }
  .cont-numero p {
    font-size: 1.4vw;
  }
  .info-alerta .cont-informacao{
    width: 100%;
    height: 50%;
    text-align: center;
    margin-top: 5%;
  }
  .inicio-nav .text-home p{
    font-size: 2vw;
  }.status-nav .text-status p{
    font-size: 2vw;
  }
  .historico-nav .text-historico p{
    font-size: 2vw;
  }
  .gestao-nav .text-gestao p{
    font-size: 1.8vw;
  }
  .sair-nav .text-sair p{
    font-size: 2vw;
  }
  .alinhar-info p{
    margin: 2%;
    margin-left: 5%;
    font-size: 1.5vw;
  }
  
}

@media only screen and (max-width: 500px) {
  .container{
    height: 100vh;
    grid-template-columns: 0.1fr 1fr 1fr 0.1fr;
    grid-template-rows: 0.1fr 0.3fr 0.1fr 1fr 1fr;
    grid-template-areas: 
    "navbar navbar    navbar    navbar"
    "titulo titulo    filtro    filtro"
    ".      .         .         .     "
    ".      historico historico .     "
    ".      historico historico .     ";
  }

  .sidebar{
    background-image: linear-gradient(150deg ,#171717 50%, #11138a 120%);
    grid-area: sidebar;
    box-shadow: 0.9vw 0 5px #000;
    position: absolute;
    height: 100%;
    width: 50%;
    z-index: 1;
  }

  .cont-img .aba{
    position: absolute;
    display: block;
    width: 15%;
    height: 6.5%;
    top: 0%; left: 2%;
  }

  @keyframes sair-side {
    0% {right: 50%;}
    100% {right: 115%;}
  }

  .aba .aba-estilo{
    width: 80%;
    height: 9%;
    background-color: #f1f1f1;
    margin-top: 20%;
    border-radius: 10px;
  }

  .inicio-nav .icon-home img{
    width:80%;
  }
  
  .inicio-nav .text-home p{
    font-size: 2.8vw;
  }

  .status-nav .icon-status img{
    width:80%;
  }

  .status-nav .text-status p{
    font-size: 2.8vw;
  }

  .historico-nav .icon-historico img{
    width:80%;
  }

  .historico-nav .text-historico p{
    font-size: 2.8vw;
  }

  .gestao-nav .icon-gestao img{
    width:80%;
  }
  
  .gestao-nav .text-gestao p{
    font-size: 2.8vw;
  }

  .sair-nav .icon-sair img{
    width:80%;
  }

  .sair-nav .text-sair p{
    font-size: 2.8vw;
  }

  .navbar{
    display: block;
    grid-area: navbar;
    background-color: #171717;
    box-shadow: 0 1vh 1px #000;
  }

  .abrir-aba{
    width: 7%;
    height: 85%;
    margin-left: 1%;
    float: left;
  }

  .abrir-estilo{
    width: 85%;
    height: 10%;
    background-color: #f1f1f1;
    margin-top: 19%;
    margin-left: 5%;
    border-radius: 10px;
  }

  @keyframes entrar-side{
    0% {right: 115%;}
    100% {right: 50%;}
  }

  .navbar img{
    width: 11%;
    float: right;
  }

  .titulo h1{
    font-size: 7vw;
    margin: 2%;
  }

  .filtro .select-filtro{
    width: 90%;
    height: 45%;
    margin-top: 5%;
    border-radius: 5px;
    font-size: 3vw;
  }

  .alerta{
    width: 35%;
    height: 70%;
    margin-left: 10%;
    margin-bottom: 0%;
    /* text-align: center; */
  }

  .maquina-alerta{
    height: 8.5%;
  }

  .maquina-alerta p{
    font-size: 3.5vw;
  }

  .info-alerta{
    height: 80%;
  }
  
  .local-alerta p{
    font-size: 4vw;
  }

  .info-alerta .numero-alerta{
    height: 30%;
    /* background-color: pink; */
  }

  .numero-alerta .cor-alerta{
    padding: 25%;
  }

  .cont-numero p{
    font-size: 3.5vw;
  }

  .alinhar-info p{
    font-size: 3vw;
  }

  ::-webkit-scrollbar {
    width: 2vw;
  }
}

@media only screen and (max-width: 400px) {
  .inicio-nav .text-home p{
    font-size: 3vw;
  }
    
  .status-nav .text-status p{
    font-size: 3vw;
  }
    
  .historico-nav .text-historico p{
    font-size: 3vw;
  }
          
  .gestao-nav .text-gestao p{
    font-size: 3vw;
  }
 
  .sair-nav .text-sair p{
    font-size: 3vw;
  }
}